


body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-right: 10%;
    margin-left: 10%;
    background: linear-gradient(to bottom right, rgb(91, 71, 71), white);
    background-size: 90000%;
}

.p-4 {
    padding: 0rem!important;
}

.menuin{
    border-style: solid ;
    border-color: white;
    border-radius: 10px;
    background-color: white;
}

.pageresume {
    background-color: white;
    padding-left: 20px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0) , 0.5em 0.5em 0.5em black;
    padding-left: 1%;
    padding-right: 5%;
}

.info2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 55%;
    border-top: solid;
    padding-left: 2%;
    padding-top: 1%;
}

.compgroup{
    display: flex;
}

.groupst{
    display: flex;
    width: 100%;
}

.comp1{
    border-right: solid;
    border-top: solid;
    width: 50%;
}
.comp2{
    border: solid;
    border-bottom: none;
    border-left: none;
    width: 50%;
}

#agelab{
    background-color: grey;
    padding: 2%;
    padding-right: 150px;
}

#natlab{
    background-color:grey;
    padding: 2%;
    padding-right: 150px;
}

#input{
    
    padding-right: 20%;
    border-bottom: solid;
    padding-right: 100px;   
}


#htmllogo{
    object-fit: cover;
    width: 10%;
}

#csslogo{
    object-fit: cover;
    width: 14%;
}

.resume {
    border-width: 10px;
}

label{
    font-size: small;
}

#NameDisplay{
    display: flex;
    justify-content: center;
    font-size: 150%;
}

#job{
    display: flex;
    justify-content: center;
}



#carouselExampleIndicators.carousel.slide{
    width: 100%;
}

.buttonlink{
    border: solid;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 270px;
}

#resumetext1{
    width: 55%;
    border-top: solid;
    border-right: solid;
    padding-top: 0.5%;
    
}

#resumetext{
    width: 55%;
    border-top: solid;
    border-right: solid;
    padding-top: 0.5%;
    border-bottom: solid;
}

#resumetext2{
    width: 55%;
    border-top: solid;
    padding-left: 2%;
    border-bottom: solid;
}

.toppage{
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
}

.turnpage1{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.turnpage2{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.turnpage3{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 5%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.nextbutton1{
    border:#666 1px solid;
    font-size:24px;
    cursor:pointer;
    width:80px;
    height:80px;
    border-radius:50%;
    margin-left: 50%;
}

.nextbutton{
    border:#666 1px solid;
    font-size:24px;
    cursor:pointer;
    width:80px;
    height:80px;
border-radius:50%;
margin-bottom: 25%;
margin-left: 50%;
}

h4{
    font-size: 150%;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    font-weight: bold;
}

#pic {
    width: auto;
    height: 450px;
    border-radius: 100%;
    background-color: black;
}

.allmenu{
    display: flex;
    flex-direction: column;
    margin-right: 5px;
    
}

.resum {
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.pres{
    display: flex;
    flex-direction: column;
    align-items: center;
border-style: ridge;
padding-top: 15px;
padding-bottom: 15px;
border-top: none;
border-left: none;
border-right: none;
}

.contact{
    border-style: ridge;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.profil {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    background-color: white;
    box-shadow: 3px 3px white , 0.5em 0.5em 0.5em 0.5em black;
}

.pagebio {
    background-color: white;
    padding-left: 20px;
    box-shadow: 3px 3px rgba(255, 255, 255, 0) , 0.5em 0.5em 0.5em black;
    padding-left: 1%;
    padding-right: 5%;
}

#title1{
    width: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

.carousel-control-next {
    top: 80px;
    right: 5%;
}

.card{
    position: static;
}

.resume2 {
    border-width: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1%;
}

#gmaillogo{
    height: 35%;
    width: 60%;
    display: flex;
    align-self: center;
}

#linklogo{
    height: 35%;
    width: 60%;
    display: flex;
    align-self: center;
    
}

#gitlogo{
    height: 40%;
    width: 40%;
    display: flex;
    align-self: center;
    
}

#title3{
    width: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    border-bottom: solid;
    margin-right: 20%;
    margin-bottom: 2%;
}

@media screen and (max-width: 480px) {
        body{
            display: flex;
            flex-wrap: wrap;
        }
        .buttonlink{
            margin-top: 50%; 
        }
        #pic {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-color: black;
        }
        .profil{
            margin-bottom: 20%;
        }
        .card{
            display: flex;
        }
     .card{
        width: 1%;
        height: 1%;
     }
     .info2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        border-top: solid;
        padding-left: 2%;
        padding-top: 1%;
    }
    .groupst{
        font-size: xx-small;
    }
    #htmllogo{
        object-fit: cover;
        width: 40%;  
    }
    #csslogo{
            object-fit: cover;
            width: 50%;  
    }
    .nextbutton1{
        border:#666 1px solid;
        font-size:24px;
        cursor:pointer;
        width:80px;
        height:80px;
        border-radius:50%;
        margin-left: 10%;
    }
    .nextbutton{
        border:#666 1px solid;
        font-size:24px;
        cursor:pointer;
        width:80px;
        height:80px;
        border-radius:50%;
        margin-left: 10%;
    }
     }

